lva_uri: "ws://127.0.0.1:{{ voice_assistant_peripheral_port }}"
state_file: "{{ smartamp_state_dir }}/led-state.json"
respeaker:
  enabled: {{ respeaker_led_enabled | bool | lower }}
  vendor_id: 0x2886
  product_id: 0x001a
  brightness: {{ respeaker_led_brightness | int }}
  speed: 2
  light_name: Smart Amp LED Ring
  light_object_id: led_ring
states:
{{ respeaker_led_states | to_nice_yaml(indent=2, sort_keys=false) | indent(2, true) }}
